{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{{url_for('listings.edit_listing')}}">
  <input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" value="{{listing.title}}" name="title">
    </div>
    <div class="col">
      <input type="text" class="form-control" value="{{listing.author}}" name='author'>
    </div>
  </div>

  <div class="form-floating">
    <textarea class="form-control" name='description' id="floatingTextarea">{{listing.description}}</textarea>
    <label for="floatingTextarea"> Description</label>
  </div>
  <div class="mb-3">

    <label for="genre" class="form-label">Genre</label>
    <select class="form-select" id="genre" name="genre_id" required>
      {% for genre in genres %}
      <option value="{{ genre.genre_id }}" {% if genre.genre_id==listing.genre_id %}selected{% endif %}>{{ genre.name | capitalize }}
      </option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}