{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{{url_for('auth.edit_user')}}">
  <input type="hidden" name="user_id" value="{{ current_user.user_id }}">
  <div class="row">
    <div class="col">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" value="{{current_user.username}}" name="username">
      <label for="old_password" class="form-label">Current Password</label>
      <input type="password" class="form-control" name="old_password">
      <label for="new_password" class="form-label">New Password</label>
      <input type="password" class="form-control" name="new_password">
      <label for="confirm_password" class="form-label">Confirm New Password</label>
      <input type="password" class="form-control" name="confirm_password">
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}