{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>
    Manage your listings
  </h2>
</div>
{% for listing in listings %}
{% if listing.user_id == current_user.user_id %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ url_for('static', filename=listing.genre.image) if listing.genre else url_for('static', filename='images/fallback.png') }}"
        class="img-fluid rounded-start" style="height: 200px; object-fit: cover;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ listing.title | capitalize }}</h4>
        <h5>{{ listing.author | capitalize }}</h5>
        <p class="card-text">{{ listing.description }}</p>
        <p class="card-text">Listed by: {{ listing.user.username | capitalize}}</p>
        <p class="card-text">
          <small class="text-body-secondary">
            {% if listing.is_available %} Available {% else %} Unavailable {% endif %}
          </small>
        </p>
      </div>
      <form action="{{ url_for('listings.mark_for_deletion' )}}" method="post">
        <input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
        {% if listing.marked_for_deletion %}
        <p class="text-danger">Deletion requested <i class="fa fa-exclamation-triangle" style="font-size:18px"></i>
        </p>
        {% endif %}

        <div class="form-check">

          <input class="form-check-input" type="checkbox" name="marked_for_deletion"
            id="deleteCheck{{ listing.listing_id }}" value="true">


          <label class="form-check-label" id="deleteCheck{{ listing.listing_id }}">
            {% if listing.marked_for_deletion %}
            Cancel Deletion
            {% else %}
            Request Deletion
            {% endif %}
          </label>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
      <a href="{{ url_for('listings.edit_listing', listing_id=listing.listing_id)}}" class="btn btn-primary">Edit book
        details</a>
      <div class="card-footer text-end">
        <span class="badge bg-secondary">{{ listing.genre.name | capitalize }}</span>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container mt-4">
  <h2>
    You haven't listed any books yet!
  </h2>
</div>
{% endif %}

{% endfor %}
{% endblock %}