{% extends 'base.html' %}
{% block content %}



<div class="container mt-4">
  <h2>
    Manage Users
  </h2>
  <div class="row gx-4 gy-4">
    <p class="text-muted small fst-italic mb-2">
      Stats represent all-time user totals, some listings may have been deleted since.
    </p>

    {% for user in users %}
    <div class="col-md-6 mb-4 d-flex flex-column">
      <div class="card d-flex flex-column h-100 position-relative p-3" style="max-width: 100%;">
        {% if user.marked_for_deletion %}
        <span class="position-absolute top-0 end-0 m-2 badge bg-danger">
          Marked for Deletion <i class="fa fa-exclamation-triangle"></i>
        </span>
        {% endif %}

        <div class="card-body">
          <h4 class="card-title">Username: {{ user.username | capitalize }}</h4>
          <p class="card-text">Join date: {{ user.join_date.strftime("%d/%m/%Y") }}</p>
          <h5>Role: {{ user.role | capitalize }} </h5>
          {% if current_user.is_admin %}
          <div class="d-flex gap-2 mt-2">
            <form method="POST" action="{{ url_for('admin.admin_edit_user') }}?user_id={{ user.user_id }}">
              <div class="mb-2">
                <label class="form-check-label me-3">
                  <input type="radio" name="role" value="regular" {% if user.role=='regular' %}checked{% endif %}>
                  Regular
                </label>
                <label class="form-check-label">
                  <input type="radio" name="role" value="admin" {% if user.role=='admin' %}checked{% endif %}>
                  Admin
                </label>
              </div>

              <button type="submit" class="btn btn-primary"
                onclick="return confirm('Are you sure you want to change this user\'s role?');">
                Update Role
              </button>
            </form>


          </div>
          {% endif %}
        </div>

        <div class="mt-auto d-flex justify-content-end">
          <div class="row g-2" style="max-width: 300px;">
            <div class="col-md-6 col-12">
              <div class="card bg-pale-green text-center small shadow-sm" style="min-height: 70px; min-width: 120px;">
                <div class="card-body p-2">
                  <div class="text-muted">Listed</div>
                  <div class="fw-bold">{{ user.total_listings }}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div class="card bg-pale-yellow text-center small shadow-sm" style="min-height: 70px; min-width: 120px;">
                <div class="card-body p-2">
                  <div class="text-muted">Borrowed</div>
                  <div class="fw-bold">{{ user.total_loans }}</div>
                </div>
              </div>
            </div>

            <!-- <div class="col-6">
              <div class="card bg-pale-blue text-center small shadow-sm">
                <div class="card-body p-2">
                  <div class="text-muted">Active Listings</div>
                  <div class="fw-bold">{{ user.active_listings }}</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card bg-pale-pink text-center small shadow-sm">
                <div class="card-body p-2">
                  <div class="text-muted">Active Loans</div>
                  <div class="fw-bold">{{ user.active_loans }}</div>
                </div>
              </div>
            </div> -->
          </div>
        </div>

      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}